build
.cache
ctags
tags
TODO.md
.build
dupa.txt
pleaseWork.txt
assets
fileLoader
test/test_fileLoading.cpp
.build_old
build_old
testFile
temp
notes
LDXY_NPC
LDXY_PC
convoluted
correct
dupa
dupaaaa
incorrect
reader
temp.cpp
test1
*.aa
file
*.ignore
.old

